<div class="steve--header">
  <div class="steve-logo">
      <!-- <img src="images/logo.jpeg"> -->
      RitaVera
  </div>
  <div class="steve--header--nav">
      <div class="steve--top--bar">
          <a href="#">Help</a>
          <a href="#">Exchange & Returns</a>
          <a href="#">Order Tracker</a>
          <a href="#">SignUp / Login</a>
      </div>
      <div class="steve--bottom--bar">
          <div class="steve-menu">
              <a href="#">Home</a>
              <a href="#">Products</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
          </div>
          <div class="steve--search-bar">
              <input type="text" class="steve-search-box" placeholder="Search">
              <button class="steve--search--btn">
                  <fa-icon [icon]="HeadBar" aria-hidden="true"></fa-icon>
              </button>
          </div>
      </div>
      
  </div>
</div>